/*
* This file is loaded into your Hyde/Hyde installation and is used to generate the TailwindCSS for your project. 
* You can use this file to customize your TailwindCSS or to add new classes.
*/

@tailwind base;
@tailwind components;
@tailwind utilities;


blockquote.info {
	border-color: DodgerBlue;
}
blockquote.warning {
	border-color: orange;
}
blockquote.danger {
	border-color: red;
}

.bg-standard {
	background: #ffffff;
	color: #000000;
}

.bg-offset {
	background-color: #f1f5f9;
	color: #000000;
}

.dark .bg-standard {
	background-color: #1e293b;
	color: #ffffff;
}

.dark .bg-offset {
	background-color: #172133;
	color: #ffffff;
}